<%- include ('partials/header.ejs') %>
    
<div class="row">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Number of Customers">Questions Stored in DataBase</h5>
                        <h3 class="mt-3 mb-3"><%= (rlk)+(rle) %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Number of Orders">Number of Qusetions in English </h5>
                        <h3 class="mt-3 mb-3"><%= rlk %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
         

            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Average Revenue">Number of Qusetions in Kannada</h5>
                        <h3 class="mt-3 mb-3"><%= rle %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Growth">Number of Questions in Based on Topic-1 in Kannada</h5>
                        <h3 class="mt-3 mb-3"><%= t1k %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Growth">Number of Questions in Based on Topic-2 in Kannada</h5>
                        <h3 class="mt-3 mb-3"><%= t2k %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->


            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Growth">Number of Questions in Based on Topic-3 in Kannada</h5>
                        <h3 class="mt-3 mb-3"><%= t3k %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Growth">Number of Questions in Based on Topic-1 in English</h5>
                        <h3 class="mt-3 mb-3"><%= t1e %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->



            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Growth">Number of Questions in Based on Topic-2 in English</h5>
                        <h3 class="mt-3 mb-3"><%= t2e %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->


            <div class="col-lg-4">
                <div class="card widget-flat">
                    <div class="card-body">
                        <div class="float-end">
                            <i class="fa-solid fa-hard-drive"></i>
                        </div>
                        <h5 class="text-muted fw-normal mt-0" title="Growth">Number of Questions in Based on Topic-3 in English</h5>
                        <h3 class="mt-3 mb-3"><%= t3e %></h3>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div> <!-- end row -->

    </div> <!-- end col -->
</div>
</div>
</div>
<%- include ('partials/footer.ejs') %>
